<div class="jumbotron">
<p><%= link_to @song.artist_name, artist_path(@song.artist) %> - <%= link_to @song.album_name, album_path(@song.album) %></p>
    <h1 class="display-3"><%=@song.name%></h1>
    <% @song.lines.each do |line| %>
    <p class="lead"><%= link_to line.name, line_path(line)%></p>
    <% end %>
</div>