<%= link_to 'Back to songs', songs_path %>
<div class="jumbotron">
    <h1 class="display-3"><%=@song.name%></h1>
    <% @song.lines.each do |line| %>
    <p class="lead"><%= link_to line.name, line_path(line)%></p>
    <% end %>
</div>