<div class="jumbotron">
<p><%= link_to @album.artist_name, artist_path(@album.artist) %></p>
    <h3 class="display-3"><%= @album.name %></h3>
    <% @album.songs.each do |song| %>
    <p class="lead"><%= link_to song.name, song_path(song) unless song.lines.length == 0 %></p>
    <% end %>
</div>
